{{ define "main"}}
  <div class="container">
    <div class="column is-full has-text-centered hide-print">
      <a class="button cta rounded primary-btn raised" href="/"><i class="fa fa-home button-icon"></i>Home</a>
      <a class="button cta rounded primary-btn raised" onclick="window.print()"><i class="fa fa-print button-icon"></i>Drucken</a>
    </div>

    {{ .Content }}

    {{ with .Site.GetPage "/about" }}{{ .Content }}{{ end }}

    <h1 class="page-break has-margin-top-80"><b>Projekte</b></h1>

    <p>Dies sind meine interessantesten Projekte der letzten 5 Jahre. Weitere finden Sie unter</p>
    <p>debug: {{ $.Params.showcustomers }}</p>
    <p><b><a href="https://www.erber-freelance.de/projects">https://www.erber-freelance.de/projects</a></b></p>

    {{ range $index, $project := where $.Site.Data.projects ".print" "=" 1 }}
      {{ partial "project.html" (dict "project" $project "index" $index "global" $) }}
    {{ end }}
  </div>
{{ end }}

