{{ if .project.featured }}
<a name="{{ .project.featured }}"></a>
{{ end }}
<a name="project-{{ .index }}"></a>
<div class="has-margin-top-80">
<div class="no-page-break">
  <h2>{{ .project.title }}</h2>
  <table class="table data-table">
    <tr>
      <td>Aufgabenstellung</td>
      <td>{{ .project.issue | markdownify }}</td>
    </tr>
    <tr>
      <td>Zeitraum</td>
      <td>
        {{ .project.period }} {{ if .project.fulltime }} (Vollzeit) {{ end }}
      </td>
    </tr>
    <tr>
      <td>Branche</td>
      <td>{{ .project.sector }}</td>
    </tr>
    <tr>
      <td>Technologien</td>
      <td>{{ .project.technic }}</td>
    </tr>
    {{ if .project.roles }}
    <tr>
      <td>Rollen</td>
      <td>{{ .project.roles }}</td>
    </tr>
    {{ end }}
    {{ if .global.Params.showcustomers }}
    <tr>
      <td>Kunde</td>
      <td>{{ .project.customer }}<br /><a href="{{ .project.customer_url }}" target="_blank">{{ .project.customer_url }}</a></td>
    </tr>
    {{ end }}
    {{ if .project.ref_text }}
    <tr>
      <td>Referenz</td>
      <td>
        <i>{{ .project.ref_text }}</i><br />
        {{ if .project.ref_name }}
        <b>- {{ .project.ref_name }}{{ if .project.ref_position }}, {{ .project.ref_position }}{{ end }}
          {{ if .project.ref_company }} ({{ .project.ref_company }}){{ end }}</b>
          {{ if .project.ref_verification }}<a href="{{ .project.ref_verification }}" target="_blank">verifiziert</a>{{ end }}
        {{ end }}
      </td>
    </tr>
    {{ end }}
  </table>
</div>
</div>
