{{- $section3 := .Site.Params.section3 }}
{{- $title    := index $section3 "title" }}
{{- $subtitle := index $section3 "subtitle" }}
{{- $tiles    := index $section3 "tiles" }}
<a name="section3"></a>
<section class="section section-feature-grey is-medium no-page-break">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>
    <div class="content-wrapper">
      <div class="columns is-multiline">
        {{- range $tiles }}
        <div class="column is-one-third">
          <div class="feature-card project-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>{{ .title }}</h4>
            </div>
            <div class="card-icon">
              <a href="{{ .url }}"><img src="{{ printf "/images/pics/%s" .pic | relURL }}"></a>
            </div>
            <div class="card-text">
                <p>{{ .text }}</p>
            </div>
            <div class="card-action">
              <a href="{{ .url }}" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
            </div>
          </div>
        </div>
        {{- end }}
        <div class="column is-full has-text-centered"><a class="button accent-btn raised" href="/projects">Mehr Projekte</a></div>
        {{ partial "calltoaction.html" . }}
      </div>
    </div>
  </div>
</section>