<a name="section5"></a>
<section class="section section-light-grey is-medium no-page-break">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Kontakt</h2>
      <h3 class="subtitle is-5 is-muted">Ich freue mich auf Ihre Nachricht</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns is-multiline">
        <div class="column is-4">
          <div class="feature-card contact-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>eMail</h4>
            </div>
            <div class="card-icon">
              <a href="mailto:k.erber@erber-freelance.de"><img src="/images/icons/icons8-email-96.png"></a>
            </div>
            <div class="card-text">
                <p>k.erber@erber-freelance.de</p>
            </div>
            <div class="card-action">
              <a href="mailto:k.erber@erber-freelance.de" class="button btn-align-md accent-btn raised">Senden</a>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="feature-card contact-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>Xing</h4>
            </div>
            <div class="card-icon">
              <a href="https://www.xing.com/profile/Klaus_Erber/cv" target="_blank"><img src="/images/icons/icons8-xing-96.png"></a>
            </div>
            <div class="card-text">
                <p><br />xing.com</p>
            </div>
            <div class="card-action">
              <a href="https://www.xing.com/profile/Klaus_Erber/cv" target="_blank" class="button btn-align-md accent-btn raised">Profil</a>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="feature-card contact-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>Telefon</h4>
            </div>
            <div class="card-icon">
              <a href="tel:+491726248666"><img src="/images/icons/icons8-telephone-96.png"></a>
            </div>
            <div class="card-text">
                <p>+49 172 6248666</p>
            </div>
            <div class="card-action">
              <a href="tel:+491726248666" class="button btn-align-md accent-btn raised">Anrufen</a>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="feature-card contact-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>Whatsapp</h4>
            </div>
            <div class="card-icon">
              <a href="https://wa.me/491726248666" target="_blank"><img src="/images/icons/icons8-whatsapp-96.png"></a>
            </div>
            <div class="card-text">
                <p>+49 172 6248666</p>
            </div>
            <div class="card-action">
              <a href="https://wa.me/491726248666" target="_blank" class="button btn-align-md accent-btn raised">Senden</a>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="feature-card contact-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>LinkedIn</h4>
            </div>
            <div class="card-icon">
              <a href="https://www.linkedin.com/in/klaus-erber-574a09254" target="_blank"><img src="/images/icons/LI-In-Bug-96.png"></a>
            </div>
            <div class="card-text">
                <p><br />linkedin.com</p>
            </div>
            <div class="card-action">
              <a href="https://www.linkedin.com/in/klaus-erber-574a09254" target="_blank" class="button btn-align-md accent-btn raised">Profil</a>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="feature-card contact-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>Matrix</h4>
            </div>
            <div class="card-icon">
              <a href="https://matrix.to/#/@k.erber_erber-freelance.de:isium.de" target="_blank"><img src="/images/icons/icons8-matrix-96.png"></a>
            </div>
            <div class="card-text">
                <p>@k.erber_erber-freelance.de:isium.de</p>
            </div>
            <div class="card-action">
              <a href="https://matrix.to/#/@k.erber_erber-freelance.de:isium.de" target="_blank" class="button btn-align-md accent-btn raised">Senden</a>
            </div>
          </div>
        </div>
        <div class="column is-12 has-text-centered"><b>Postadresse:</b> Klaus Erber, Pappelreihe 24, D-21255 Tostedt (bei Hamburg)</div>
        <div class="column is-12 has-text-centered"><b>Sichere Kommunikation:</b> siehe <a href="/pgp">Pretty good privacy</a></div>
      </div>
    </div>
  </div>
</section>