/* custom styles */

.button.primary-btn {
    background-color: darkgreen;
    border-color: darkgreen;
}

.button.primary-btn, .button.button.accent-btn {
    background-color: green;
    border-color: green;
}

h1 {
    font-size: 1.4em;
    margin-bottom: 0.8em;
    margin-top: 1em;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.7em;
    margin-top: 0.9em;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.6em;
    margin-top: 0.8em;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    border-top: 2px solid lightgrey;
}

.data-table td:first-child {
    font-weight: bold;
    font-size: 0.8em;
    color: #5E6E85;
    hyphens: auto;
    width: 100px;
}

.data-table {
    width: 100%;
}

.content-pic {
	border: 2px solid lightgrey;
}

.title-image {
    display: flex; 
    justify-content: left; 
    align-items: center; 
}
.title-image img {
    margin-right: 20px;
}

.print-logos .partner-logo {
    height: 70px;
}


.print-logos {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.print-logos .partner-logo {
    height: 70px;
}

.contact-card {
    width: 210px;
    /*height: 360px;
    background-color: #fff;
    border-radius: 3px;
    margin: 0 auto;*/
}

.project-card {
    height: 360px;
}

.project-card .card-icon img {
    height: auto;
}

.project-card .card-text {
    padding-left: 20px;
    padding-right: 20px;
}

footer.footer-dark .footer-logo img {
    height: 70px;
}

.has-margin-top-80 {
    margin-top: 80px;
}
.has-margin-top-90 {
    margin-top: 90px;
}

.button-icon {
    padding-right: 8px;
    font-size: 1.3em;
}

.show-print {
    display: none;
}


@media print {

    * {
        font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        background-color: lightblue;
        -webkit-print-color-adjust: exact; 
        padding: 10px;
    }

    .data-table td:first-child {
        hyphens: none;
    }
    
    
    .container {
        width: 100%; 
        margin: 0; 
        float: none;
    }

    @page { margin: 2cm }

    .page-break {
        page-break-before: always;
    }
    .no-page-break {
        page-break-inside: avoid;
    }
    #navbar-clone,.show-print {
        display: block;
    }
    .hide-print {
        display: none;
    }    
}